<launch>
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />
    
    <arg name="com_port" default="/dev/ttyUSB0" />


    <node 
        name="move_subscriber" 
        pkg="bot_move" 
        type="move_sub.py" 
        args="$(arg com_port)"
     />
    
    <node 
        name="odom_publisher" 
        pkg="bot_move" 
        type="odom_pub.py" 
        args="$(arg com_port)"
     />

    <node
        pkg="teleop_twist_keyboard"
        type="teleop_twist_keyboard.py"
        name="teleop_keyboard"
        output="screen">
        <remap from="/cmd_vel" to="/move_topic"/>
    </node>


    <node pkg="tf2_ros"
      type="static_transform_publisher"
      name="laser_tf"
      args="0 0 0 0 0 0 base_link laser"/>

    <node
        pkg="rviz"
        type="rviz" 
        name="rviz"
        args="-d $(find bot_move)/rviz/view.rviz"
    />

</launch>